#home {
  background: #000000;
}
#about {
  background: #1a1a1a;
}
#works {
  background: #333333;
}
#contact {
  background: #4d4d4d;
}
#other {
  background: #666666;
}
#clients {
  background: #808080;
}
#bio {
  background: #999999;
}
#networks {
  background: #b3b3b3;
}